.movie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 40px;
 }

.movie-item {
    position: relative;
    max-width: 300px; 
    max-height: 500px;
    margin-top: 20px;
    margin-right: 15px; 
    margin-bottom: 10px;
}

.movie-mini-item {
    visibility: hidden;
}  

.movie-item img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.movie-item:hover img {
    transform: scale(1.1); 
}

.movie-details {
    padding: 1em;
}
.movie-item:hover {
    transition: all 0.5s ease-in-out;
    flex-grow: 0.2;
}

.movie-item .headoverview {
    display: none;
    width: 100%;
    max-height: 90%;
    
    transition: all 0.5s ease-in-out;
}

.movie-item:hover .headoverview {
    text-align: center;
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    text-align: center;
    position: absolute;
    top: 0; 
    left: 0;
    font-size: 1em;
    white-space: wrap;
    z-index: 1; 
    padding-bottom: 23px;
}

.providers table {
    border-collapse: collapse;
    border-spacing: 0;
}

.providers table td {
    padding: 5px;
}

.providers img{
    height: 50px;
    width: auto;
}
.providers h3 {
    margin: 0;
    padding-right: 20px;
}
.flex-container > div {
    margin-bottom: 10px; 
}
  
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.group-view-long {
    background-color: var(--table-bg);
    color: var(--grp-text);
    border-top-left-radius: 10px;
    border-top-right-radius: 170px;
    border-bottom-right-radius: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    border: var(--solid);
    box-shadow: var(--shadow02);
}

.group-view-long > div {
    padding-top: 10px;
    padding-left: 8px; 
    padding-right: 20px; 
}

.group-view {
    background-color: var(--table-bg);
    color: var(--grp-text);
    padding: 1em; 
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 25px;
    box-shadow: var(--shadow02);
}

.group-view > div {
    padding-left: 20px; 
    padding-right: 20px; 
}
  
.group-left {
    flex-basis: 70%;
    padding: 10px;
}
.group-right {
    flex-basis: 20%;
    padding: 10px;
}
.pdd-right {
    padding-right: 25px;
    align-items: center;
    align-content: center;
}
.pdd-bottom {
    position: absolute;
    bottom: 250px;
    padding-right: 25px;
    align-items: center;
    align-content: center;
    z-index: 1; 
}

.group-view-item-left,
.group-view-item-right {
    flex-basis: calc(90%/ 2);
    padding: 10px;
}
  
.wall-view {
    background-color: var(--grp-background);
    color: var(--grp-text);
    display: flex; 
    flex-wrap: wrap; 
    padding: 1em;
}
.left-column,
.middle-column,
.right-column {
    flex-basis: calc(90%/ 3);
    padding: 10px;
}

#backdrop {

    min-height: 100vh;

}

.moviemain {
    background-color: var(--moviedetails);
    border-radius: 10px;
    margin-top: 25px;
    padding: 40px;
}

.movieinfo {
    margin-left: 10px;
}

.posterimg {
    box-shadow: var(--shadow1);
    height: 100%;
    width: auto;
    margin-right: 30px;
}

.moviereviews {
    background-color: var(--moviedetails);
    border-radius: 10px;
    margin-top: 25px;
    padding: 40px;

}
.reviewslisted {
    padding: 20px;
}

.justMargins {
    margin-top: 25px;
}

.resultsTitle {
    width: 100%;
    display: flex;  
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.resultsTitle h2 {
    font-size: 2.3em;
    text-shadow: var(--tShadow1);
    color: var(--text-color);
}

.bigArrow {
    background: none;
    border: none;
    font-size: 2.3em;
    color: var(--text-color);
    padding-left: 14px;
    padding-right: 14px;;

}

.bigArrow:hover {
    font-size: 2.3em;
    color: var(--td-review-hover);
    text-shadow: var(--tShadow1);
}

.pdd-right .bigArrow {
    width: 40px;
    margin-left: 2px;
    margin-right: 10px;;
    font-size: 1em;
    background: none;
    border: none;
  }
  
.pdd-right .bigArrow:hover {
    text-shadow: var(--tShadow1);
  }

.tinyImg {
    height: 50px;
    width: auto;
    margin: 6px;
    box-shadow: var(--shadow05);
}

.activeSearch:active,
.activeSearch:hover,
.activeSearch:host {
    color: var(--profile);
}

.activeSearch:checked {
    color: var(--profile);
}

.changePageLeft,
.changePageRight {
    background-color: var(--table-bg);
    box-shadow: var(--shadow02); 
    align-items: left;
    height: 100%;
    font-size: 1.1em;
    color: var(--text-color);
    padding-left: 2px;
    padding-right: 2px;
    flex-grow: 1; 
}

.changePageLeft {
    border-left: 1px solid #232323; 
}

.changePageRight {
    border-right: 1px solid #232323; 
}


.ResultsWithButtons td.changePageLeft:hover,
.ResultsWithButtons td.changePageLeft:active,
.ResultsWithButtons td.changePageRight:hover,
.ResultsWithButtons td.changePageRight:active {
    background-color: var(--changePage);
}

.changePageLeft {
    border-bottom-left-radius: 62px;
    border-top-left-radius: 62px;
}

.changePageRight {
    border-bottom-right-radius: 62px;
    border-top-right-radius: 62px;
}

.betweenPages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



@media (max-width: 640px) {
.movie-mini-item  {
    visibility: visible;
    width: 150px; 
    height: 200px;
    padding-bottom: 50px; 
  }
}