.form-view {
    background-color: var(--grp-background);
    border-radius: 10px;
    color: var(--profile);

    padding: 1em;
    margin-top: 25px;
    border: var(--solid);
}

.show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
}

h2 {
    color: var(--profile);
    margin: 0.3em 0 0 0;
}