
.groupProfileMain {
    border-radius: 10px;
    color: var(--profile);
    margin-top: 25px;

}

.ginner-view {
    background-color: var(--grp-background);
    padding: 1em;
    color: var(--profile);
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    margin-top: 25px;
    border: var(--solid);
    border-radius: 10px;
    
}

.gform-view {
    background-color: var(--profile-view);
    border-radius: 10px;
    color: var(--profile);
    padding: 1em;
    margin-top: 25px;
    border: var(--solid);
}

.ginner-view .ginner-left {
    width: 280px;
    padding: 10px;
    margin-right: 10px;
    color: var(--profile);
    text-align: left;
}

.ginner-view .ginner-right {
    padding-top: 8px;
    color: var(--profile);
}


.toggleLinks {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0 auto;
}

.toggleLinks h3 {
    color: var(--profile);
    font-size: 1.4em;
    margin-right: 40px;
}

.singleMember {
    width: 400px;
    border-radius: 1px;
    color: var(--grp-text);
    display: inline-block;
    padding: 0.2em;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0em;
    line-height: 2.1em;
    font-size: 1em;
}

.grouppic {
    border-radius: 5px;
    border: var(--solid);
    box-shadow: var(--shadow02);
    width: 250px;
    height: 250px;
    display: block;
    object-fit: cover;
}

ul {
    list-style-type: none;
    padding: 8px;
}

.groupSections {
    line-height: 1.8em;
    list-style: decimal;
}

.groupSections li {
    color: var(--profile);
}

.greviews-view {
    background-color: var(--grp-background);
    border-radius: 10px;
    color: var(--profile);

    padding: 1em;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 25px;
    border: var(--solid);
}

.gevents-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gevents {
    background-color: var(--greyblue);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    width: 80%;
    color: var(--grp-text);
    display: block;
    margin-top: 25px;
    border: var(--solid);
    margin-bottom: 7px;
}

.gevents a {
    font-weight: 600;
    color: var(--table-link);
}

.gevents a:hover {
    color: var(--table-linkH);

}

.gevents h2 {
    margin-left: 5%;
}

.singleEvent {

    border-radius: 1px;
    color: var(--darktext);
    display: block;
    padding: 0.2em;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0em;
    line-height: 1.8em;
    font-family: var(--thasadith);
    font-size: 1em;
    border-collapse: collapse;
    border-top: var(--dashed);
}

.singleEvent:hover {
    background-color: var(--reviewbox);
}

.gmessages {
    background-color: var(--section2);
    border-radius: 10px;
    color: var(--h2);
    display: flex-table;
    flex-wrap: wrap;
    padding: 1em;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5px;
    border: var(--solid);
}

.gmessages h2 {
    color: var(--h2);
}

.messageArea {
    background-color: var(--grp-background);
    border-radius: 10px;
    color: var(--profile);
    display: flex-table;
    flex-wrap: wrap;
    padding: 1em;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5px;
    border: var(--solid);
}

.messageArea a {
    color: var(--strongCoffee);

}

.msgboard {
    padding: 20px;
}

.msgRow {
    display: block;
    padding: 10px;
    border-bottom: var(--dashedGr);
}

.newMessage {
    padding: 20px;
    width: 80%;
}

.someMargin {
    margin-left: 23px;
}

.group-between {
    display: flex;
    justify-content: space-evenly;
}

.group-view {
    display: flex-table;
    flex-wrap: wrap;
    width: 92%;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--profile-view);
    color: var(--profile);
    padding: 1em;
    border-top: none;
    border-right: var(--solid);
    border-left: var(--solid);
    border-bottom: var(--solid);
}

.justify {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.group-view a {
    color: var(--profile);
}

.group-view a:hover {
    color: var(--profile-link);
}

.group-content {
    flex-basis: 90%;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
}


.reviewinfo {
    color: var(--profile);
    font-size: 0.9em;
    font-weight: 100;
}

.reviewtitle {
    color: var(--profile);
    font-size: 1em;
    font-weight: 500;
}

.reviewimg {
    float: left;
    margin-right: 20px;
    height: 170px;
    box-shadow: var(--shadow02);
}

.minheight {
    min-height: 180px;
    padding: 20px;
    border-bottom: var(--dashedGr);
}

.minheight:hover {
    background-color: var(--grey-hover);
}

.remove {
    background-color: transparent; 
    border: none; 
    padding: 0; 
}

.ginner-view h2,
.group-between h2,
.greviews-view h2 {
    color: var(--profile);
    
}