
.ginner-view {
    background-color: var(--grp-background);
    border-radius: 10px;
    color: var(--profile);
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    padding: 1em;
    margin-top: 25px;
    border: var(--solid);
}

.gform-view {
    background-color: var(--grp-background);
    border-radius: 10px;
    color: var(--profile);

    padding: 1em;
    margin-top: 25px;
    border: var(--solid);
}

.ginner-view .ginner-left {
    padding: 10px;
    margin-right: 10px;
    color: var(--profile);
    text-align: left;
}

.ginner-view .ginner-right {
    flex: 70%;
    padding: 8px;
    color: var(--profile);
}

.grouppic {
    border-radius: 5px;
    border: var(--solid);
    box-shadow: var(--shadow02);
    width: 250px;
    height: 250px;
    display: block;
    object-fit: cover;
}

ul {
    list-style-type: none;
    padding: 8px;
}

h2 {
    color: var(--profile);
}   

.groupSections {
    line-height: 1.8em;
    list-style: decimal;
}

.groupSections li {
    color: var(--profile);
}

.greviews-view {
    background-color: var(--grp-background);
    border-radius: 10px;
    color: var(--profile);
    display: flex-table;
    flex-wrap: wrap;
    padding: 1em;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 25px;
    border: var(--solid);
}

.gmessages {
    background-color: var(--section2);
    border-radius: 10px;
    color: var(--h2);
    display: flex-table;
    flex-wrap: wrap;
    padding: 1em;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5px;
    border: var(--solid);
}

.gmessages h2 {
    color: var(--h2);
}

.messageArea {
    background-color: var(--grp-background);

    border-radius: 10px;
    color: var(--profile);
    display: flex-table;
    flex-wrap: wrap;
    padding: 1em;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5px;
    border: var(--solid);
}

.messageArea a {
    color: var(--strongCoffee);

}

.msgboard {
    padding: 20px;
}

.msgRow {
    display: block;
    padding: 10px;
    border-bottom: var(--dashedGr);
}

.newMessage {
    padding: 20px;
    width: 80%;
}

.someMargin {
    margin-left: 23px;
}

.group-between {
    display: flex;
    justify-content: space-evenly;
}

.group-view {
    display: flex-table;
    flex-wrap: wrap;
    width: 42%;
    margin-top: 25px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: var(--profile-view);
    color: var(--profile);
    padding: 1em;
    padding-left: 3%;
    border: var(--solid);
}

.justify {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.group-view a {
    color: var(--profile);
}

.group-view a:hover {
    color: var(--profile-link);
}

.group-content {
    flex-basis: 90%;
    padding: 10px;
    margin: 0 auto;
}

.group-middle {
    flex-basis: 30%;
    padding: 10px;
    margin: 0 auto;
}

.group-right {
    flex-basis: 30%;
    padding: 10px;
    margin: 0 auto;
}

.reviewinfo {
    color: var(--profile);
    font-size: 0.9em;
    font-weight: 100;
}

.reviewtitle {
    color: var(--profile);
    font-size: 1em;
    font-weight: 500;
}

.reviewimg {
    float: left;
    margin-right: 20px;
    height: 170px;
    box-shadow: var(--shadow02);
}

.minheight {
    min-height: 180px;
    padding: 20px;
    border-bottom: var(--dashedGr);
}

.minheight:hover {
    background-color: var(--grey-hover);
}

.remove {
    background-color: transparent; 
    border: none; 
    padding: 0; 
}