.home-container {
  height: 2500px;
  display: flex;
  flex-direction: row;
}

.left-container,
.right-container {
  width: 15%;
}

.mid-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.uppercontent {
  height: 700px;
  overflow: hidden;
  padding-top: 0%;
  padding-left: 15%;
  padding-right: 15%;
}
.uppermiddlecontent{
  height: 700px;
  overflow: hidden;
  padding-top: 0%;
  padding-left: 15%;
  padding-right: 15%;
}
.lowermiddlecontent{
  height: 700px;
  overflow: hidden;
  padding-top: 0%;
  padding-left: 15%;
  padding-right: 15%;
}
.lowercontent{
  height: 700px;
  overflow: hidden;
  padding-top: 0%;
  padding-left: 15%;
  padding-right: 15%;
}

