.home-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-container,
.right-container {
  width: 10%;
}

.mid-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.uppercontent {
  height: 500px;
  overflow: hidden;
  padding-top: 0%;
  padding-left: 15%;
  padding-right: 15%;
}

.lowercontent{
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.lowerleftcontent,
.lowerrightcontent{
  width: 50%;
  overflow: hidden;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.coming-soon-container {
  object-fit: cover;
  overflow: hidden;
}
