.home-container {
  /*height: 2500px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.right-container {
  width: 5%;
}

.mid-container {
  width: 95%;
  /*display: flex;
  flex-direction: column;*/
}

.uppercontent,
.uppermiddlecontent,
.lowermiddlecontent,
.lowercontent {
  overflow: hidden;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 4%;
}


