.fmovie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Keskitä sisällön vaakasuunnassa */
}

.fmovies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0vmin;
  margin-bottom: 1vmin;
  margin-left: 2vmin;
  margin-right: 2vmin;
  font-family: sans-serif;
  overflow: hidden;
  transform: skew(-5deg);

}

.fmovie-item {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 40vmin;
  position: relative;
}

.arrow {
  height: 40vmin;
}

.arrow img{
  height: 100%;
  width: auto;
}

.fmovie-item img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%)
}

.head {
  color:black;
  background-color: white;
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  white-space: nowrap;
}

.fmovie-item:hover {
  flex-grow: 3;
}

.fmovie-item:hover img {
  filter: grayscale(0);
}

.fmovie-item:hover .head {
  text-align: center;
  top: calc(100%-2em);
  color: white;
  background: black;
  transform: rotate(0deg);
}
