.event-list {
  justify-content: center; 
  align-items: center; 
  
}

.event-list ul {
  margin-left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  font-family: "Thasadith", sans-serif;
  font-size: 1em;
}

.event-list  ul a {
  text-decoration: none;
  color: #ffffff;
}

.event-list ul a:hover {
  color: #dcc1a1;
}

.event-list li{
  list-style-type: none;
  padding-left: 0px;
}

.event-list li div p {
  margin-top: 0; 
}
.event-list li div p:hover {
  flex-grow: 3;
}

.event-list li div h4 {
  font-size: 1em;
  margin: 0; 
}