.event-list {
  background-color: #ffffff;
  justify-content: center; 
  align-items: center; 
}

.nearbyEvents {
  margin: 0;
  padding-left: 10%;
  width: 300px;
}

.nearby {
  margin: 0;
}

.event-list ul {
  margin-left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  font-family: var(--thasadith);
  font-size: 1em;
}

.nearby tr {
  width: 100%;
}

.nearby td {
  width: 300px;
  text-align: left;
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nearby tr:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}

.show-more-button {
  margin-top: 9px;
  background-color: transparent;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  color: grey;
  font-size: 1.1em;
}

.show-more-button:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}

.event-list  ul a {
  text-decoration: none;
  color: #ffffff;
}
.event-list ul a:hover {
  color: #dcc1a1;
}
.event-list li{
  list-style-type: none;
  padding-left: 0px;
}
.event-list li div p {
  margin-top: 0; 
}
.event-list li div p:hover {
  flex-grow: 3;
}
.event-list li div h4 {
  font-size: 1em;
  margin: 0; 
}