
  
  @media (max-width: 1470px) {
    .menu-items li{
      list-style-type: none;
      padding-left: 25px;
    }
    

  }


    @media (max-width: 1040px) {
      .menu-items-left {
        display: none; 
      }

      .menu-items-right {
        margin-right: -60px;
      }
      
    .menu-items li{
      list-style-type: none;
      padding-left: 25px;
    }

    #header-bar ul.username {
      color: #ffffff;
      margin-top: 7px;
      margin-right: 73px;
      font-size: 0.9em;
    }
    
    

  }
  
  @media (max-width: 630px) {

    #header-bar .header-container {
      margin-left: 35px;
    }

    #header-bar ul.whiteLinks {
      display: none; 
    }

    .menu-items-right {
      display: none; 
    }
    
    ul .whitelinks {

      display: none; 
    }
    #header-bar ul.username {
      margin-right: 43px;
      font-size: 0.9em;
    }

    .menu-items-left {
      display: none; 
    }

    #header-bar ul {
      font-size: 1.2em;
      margin-top: 45px;
      
    }

  }

    
  @media (max-width: 420px) {

    #header-bar .header-container {
      margin-left: 50px;
    }

    #header-bar ul.whiteLinks {
      display: none; 
    }

    .menu-items-right {
      display: none; 
    }
    
    ul .whitelinks {

      display: none; 
    }
    #header-bar ul.username {
      display: none; 
    }

    .menu-items-left {
      display: none; 
    }

  }

  /*Lopullinen breakpoint, jolloin näyttö on liian pieni, kaikkeen display none ja screenerror tms*/
  @media (max-width: 250px) {

    #header-bar .header-container {
      margin-left: 50px;
    }

    #header-bar ul.whiteLinks {
      display: none; 
    }

    .menu-items-right {
      display: none; 
    }
    
    ul .whitelinks {

      display: none; 
    }
    #header-bar ul.username {
      display: none; 
    }

    .menu-items-left {
      display: none; 
    }

  }
