/******* ROOT | BODY & THEME PROVIDER *******/

:root {
  margin: 0;
  padding: 0rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  padding-bottom: 235px; 
}

.body {
  margin: 0;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

/******* USING THEME PROVIDER? *******/
/******* consume styles with: " var(--namehere) " and make sure to include that --namehere in both: " .light " and  " .dark " -modes *******/

.light { 
  --background-color: #faf0e4;
  --text-color: #000000;
  --h2: #000000;
  --github-image: url('../images/github-mark.png');
  --logo: url('../images/leffasovellus-r9.png');
  --button-bg: #282e37;
  --button-text: #ffffff;
  --create-bg: #b1b1b1;
  --left-border: 9px solid #303030;
  --hoverCoffee: #5a4938;
  --a-link: #25272d;
  --a-link-hover: #303030;
  --footer-hover: #ededed;
  --lightCoffee: #dcc1a3;
  --strongCoffee: #5a4938;
  --toggleDivs: rgba(134, 106, 68, 0.9);
}

.dark {
  --background-color: #1d1d1d;
  --text-color: #ffffff;
  --h2: #ffffff;
  --github-image: url('../images/github-mark-white.png');
  --logo: url('../images/leffasovellus-r9.png');
  --button-bg: #1a1a1a;
  --button-text: #ffffff;
  --create-bg: #373737;
  --left-border: 9px solid #ffffff;
  --hoverCoffee: #dcc1a3;
  --a-link: #ffffff;
  --a-link-hover: #323640;
  --footer-hover: #ededed;
  --lightCoffee: #dcc1a3;
  --strongCoffee: #5a4938;
  --toggleDivs: rgba(40, 33, 23, 0.94);
}

/******* HEADER WITH NAVIGATION BAR *******/

/*.menu-items {
  display: block;
  position: absolute;
  width: 100%;
}*/

.burger-items {
  display: none;
  color: var(--text-color);
}

.menu-items ul {
  margin-left: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  /*justify-content: space-between;*/
  height: var(--header-height);
  list-style-type: none;
  font-family: "Thasadith", sans-serif;
  font-size: 1.5em;
  color: #ffffff;
}

.menu-items-right {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.menu-items ul a {
  text-decoration: none;
  color: #ffffff;
}

.menu-items ul a:hover {
  color: #dcc1a1;
}

.menu-items li{
  list-style-type: none;
  padding-left: 60px;
}

.menu-items.open {
  display: block;
}

.lilogin {
  width: 300px;
}

#header {
  margin: 0;
  margin-bottom: 100px;
}

#header-bar {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #000000;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(67deg, #0b0c0f, #0b2b55, #0b2b55, #0b2b55, #0b2b55, #0b0c0f);
  z-index: 2;
}

#header-bar .header-container {
  margin: 0;
  margin-left: 70px;
  display: inline-flex;
  min-width: 100%;
}

/*#header-bar ul.navigate {
  list-style-type: none;
  justify-content: left;
  display: inline-flex;
  font-family: "Thasadith", sans-serif;
  font-size: 1.5em;
  color: var(--text-color);
}*/

#header-bar ul.whiteLinks a {
  color: #ffffff;
}

#header-bar ul a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
}

#header-bar ul a:hover {
  text-decoration: none;
  color: var(--hoverCoffee);
}

#header-bar ul.navigate li {
  padding-left: 15px;
  padding-right: 15px;
}

h1 /* this title is for @Header */ {
  margin: 0 auto;
  margin-top: -9px;
  font-family: "Thasadith", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6em;
  color: #e4b8bc;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: headerWave 5s infinite linear;
  
}
/******* LOGIN NAPPI *******/
.login-dropdown-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative;
}

.login-menu {
  position: relative;
  background-color: var(--lightCoffee); 
  background-color: var(--toggleDivs);
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 250px;
  top: 4px;
}

.login-menu.active {
  display: block;
}


/******* FOOTER *******/

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  bottom: 0px;
  padding-top: 30px;
  padding-bottom: 3px;
  align-items: center;
  border-top: 1px solid #000000;
  background: #342f2a;
  color: #ffffff;
  font-size: 1.1em;
}

#footer a {
  text-decoration: none;
  color: #9a9a9a;
  font-size: 1.1em;
}

#footer a:hover {
  color: var(--footer-hover);
}
/******* CONTENT incl. PAGES AND COMPONENTS *******/

.content {
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  max-width: 1600px;
  text-align: left;
}

/******* LINKS *******/

a {
  font-weight: 500;
  color: var(--a-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--a-link-hover);
}

/******* TITLES *******/

h2 /* titles for @Content */ {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  color: var(--h2);
}

h3 /* hamburger */ {
  font-family: "Thasadith", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  color: var(--lightCoffee);
}

/******* BUTTONS *******/

.loginbutton {
  margin-top: -14px;
  padding-right: 8px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.basicbutton {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/******* Hamppari *******/

  @media only screen and (min-width: 768px) {
    .mobile-menu-icon {
      display: block;
      color: var(--lightCoffee);
    }
    .mobile-menu-icon :hover {
      color: var(--strongCoffee);
    }
    
  }

  .burger-items {
    display: none;
  }

  .burger-items.open {
    display: block; 
  }

  .burger-items {
    position: absolute;
    top: 101px; 
    left: 0;
    border-right: 3px solid #000000;
    background-color: var(--toggleDivs);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 200px;
    height: 100em;
    color: var(--text-color);
  }
  
  .burger-items ul {
    top: 101px; 
    left: 0;

  }

  .burger-items ul {
    margin: 10px;
    padding: 0;
    display: block;
    text-align: left;
    padding-left: 10px;
    height: var(--header-height);
    list-style-type: none;
    font-family: "Thasadith", sans-serif;
    font-size: 1.5em;
    color: var(--text-color);
    color: #fff;
  }
  
  .burger-items ul a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .burger-items ul a:hover {
    color: #dcc1a1;
  }
  
  .burger-items li{
    list-style-type: none;
  }
  

/******* BUTTONS *******/

select {
  padding: 1em 1em;
}

label {
  padding: 0.2em 1em;
}

input  {
  padding: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.shortInput {
  margin: 0 auto;
  width: 80px;
}

.longInput {
  margin: 0 auto;
  margin-left: 0;
  width: 180px;
}


/******* CLASSES incl. buttons, selects, inputs, labels, spans, ps, pretty much everything *******/

.logo {
  width: 140px;
  height: 100px; 
  display: inline-block;
  padding-right: 10px;
  background-image: var(--logo);
  background-size: contain;
  background-repeat: no-repeat;
}