.faq-heading {
    cursor: pointer;
    margin-bottom: 5px;
}

.faq {
    max-width: 90%;
    margin-bottom: 40px;
}

.faq h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.faq h3 {
    color: var(--dark);
}